<table class="table table-hover">
  <thead>
    <th>Belegnummer</th>
    <th>Belegdatum</th>
    <th>Buchungstext</th>
    <th>Buchungsbetrag</th>
  </thead>
  <tbody>
		<tr id="tx{{tx.doc_number_range+tx.doc_number}}" ng-click="showDetails(tx)" ng-repeat="tx in txs | find:docNumber">
      <td class="clickable">{{tx.doc_number_range}}{{tx.doc_number}}</td>
      <td class="clickable">{{tx.doc_date | date:'dd.MM.yyyy'}}</td>
      <td class="clickable">{{tx.posting_text}}</td>
      <td><p class="amount">{{tx.amount_posted | euro}}</p></td>
    </tr>
  </tbody>
</table>
