<!doctype html>
<html lang="de" ng-app="bebber">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="gr">
    <title>Bebben</title>
    <link href="public/ext/bootstrap/dist/css/bootstrap.min.css" 
          rel="stylesheet" type="text/css">
    <link href="public/css/my.css" rel="stylesheet" type="text/css">
    <script src="public/ext/jquery/dist/jquery.min.js"></script>
    <script src="public/ext/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/ext/pdfjs/pdf.js"></script>
    <script src="public/ext/pdfjs/compatibility.js"></script>
    <script src="public/ext/angular/angular.min.js"></script>
    <script src="public/ext/angular-route/angular-route.min.js"></script>
    <script src="public/ext/angular-resource/angular-resource.min.js"></script>
    <script src="public/ext/angular-pdf-viewer/angular-pdf-viewer.min.js"></script>
    <script src="public/js/main.js"></script>
    <script src="public/js/controller.js"></script>
  </head>
 
  <body ng-controller="init">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="md-col-6">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Belegnummer" size="50" ng-model="belegnummer">
          </div>
        </form>
      </div>
      <button class="btn btn-default navbar-btn" ng-click="sortByDate()">Sortieren nach Datum</button>
    </nav>

    <div class="alert alert-danger" role="alert" ng-show="errorMsg">
      {{err}} <button ng-click="errorMsg=false">close</button>
    </div>
    <div class="alert alert-success" role="alert" ng-show="successMsg">
      {{err}} <button ng-click="successMsg=false">close</button>
    </div>

    <div ng-view></div>


  </body>

</html>
